/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* CARDS-SECTION STARTS  */

.cardContainer{
    width: 350px;
    border-radius: 15px;
    box-shadow: 10px 5px 20px rgb(165, 165, 165);
    overflow: hidden;
}
.imageContainer{
    width: 100%;
    height: 750px;
}
.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.imageContainer img:hover{
     transform: scale(1.1)rotate(-5deg);
}
.heroImage{
    position: relative;
    animation: mymove 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes mymove {
    0%{
        top: 0px;
    }
    50%{
        top: 100px;
    }
    100%{
        top: 0px;
    }
  }
/* CARDS-SECTION ENDS  */

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767px){
    .hero-title{
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .hero-small{
        text-align: center;
    }
    .hero-texts{
        font-size: 14px;
        line-height: 26px;
        text-align: center;
    }
    .about-title{
        text-align: center;
    }
    .about-texts{
        font-size: 14px;
        text-align: center;
    }
    .cards-texts{
        font-size: 17px;
        text-align: center;
    }
    .cards-title{
        text-align: center;
    }
    .footerlinks{
        font-size: 12px;
    }
}




